@import '../../../shared/variables';



mat-card{
    width: 265px !important;
    height: 138px !important;
    text-align: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #0000001A;

}
mat-card-content{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding:15px;
    .clientName{
        font-family: $font-inter;
        font-size: 16px;
        font-weight: 700;
    }
    p{
        font-family: $font-inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }

}

mat-card-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom:15px;
    padding-left: 15px;
    padding-right: 15px;
    span{
        cursor: pointer;
        padding: 4px;
        border-radius: 18px;
        :hover{
            box-shadow: 0px 0px 4px 0px #00000065;
            border-radius: 18px;

        }
        :active{
            box-shadow: 0px 0px 4px 0px #00000065;
            border-radius: 18px;
            border: 1px solid rgba(0, 0, 0, 0.067);
        }
    }

}
.container{
    justify-self: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    button{
        width: 1180px;
        background: none;
        color: $color-primary;
        font-family: $font-inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px;
        padding: 12px 0px;
        border: 2px solid $color-primary;
        border-radius: 4px;
        cursor: pointer;
    }
    .container-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
        .foundClients{
            font-family: $font-inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 21.78px;
            .qtd{
                font-weight: 700;
            }
        }
        .clientsPerPage{
        margin-bottom: 10px;
        font-family: $font-inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
            select{
                width: 50px;
                height: 25px;
                background:none;
                border-radius: 4px;
                border: 1px solid #D9D9D9;
                outline: none;
            }
        }

    }
    .content{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-areas: none;
        gap: 20px; 
        margin-bottom: 20px;
        min-height: 454px;
    }

    .pagination{
        width: 224px;
        height: 35px;
        margin-top: 30px;
        margin-bottom: 134px;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        display: flex;
    
        
    }   
  

}
