.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  mat-icon {
    margin-right: 10px;
  }
  