@import './shared/variables';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.font-inter-700 {
  font-family: $font-inter;
  font-weight: 700;
}

.font-inter-400 {
  font-family: $font-inter;
  font-weight: 400;
}

.ngx-pagination{
  font-family: $font-inter;
  .current{
      background: $color-primary !important;
      font-family: $font-inter;
  }
  li a, .current{
    border-radius: 4px;
    font-size: 18px;
  }
}


.font-geologica-cursive-400 {
  font-family: $font-geologica;
  font-weight: 400;
  font-variation-settings: "slnt" 0, "CRSV" 1, "SHRP" 0;
}

*{
    margin:0;
    padding:0;
}
body{
  background: #f7f4f4;
}

.sidenav-modal .mat-dialog-container {
  padding: 0;
  border-radius: 0;
  height: 100vh;
  margin: 0;
  max-width: none;
  position: absolute;
  left: 0;
  width: 250px;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.sidenav-modal .cdk-overlay-backdrop {
  background: transparent !important;
  box-shadow: none !important;
}
